.select{
    height: 3rem;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
}

.selectContainer{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

.selectContainer svg{
    margin: 0 0.5rem;
}

.rounded{
    border-radius: 30px;
    padding: 0 0.5rem;
}

.smoothRadius{
    border-radius: 10px;
    padding: 0 0.5rem;
}

.primary{
    background: var(--primary);
}

.secondary{
    background: var(--secondary);
}

.yellow{
    background: var(--yellow);
}

.dark{
    background: var(--dark);
    color: var(--fontColorLight);
}

.selectContainer:has(.select:focus){
    border-bottom: 2px solid var(--fontColor);
}

.selectContainer:has(.darkInput .radiusInput:focus){
    border: 2px solid var(--fontColorLight);
}

.selectContainer:has(.radiusInput:focus){
    border: 2px solid var(--fontColor);
}

.selectContainer:has(.darkInput:focus){
    border: var(--fontColorLight) 2px solid;
}


.darkInput{}

.radiusInput{}