.carrouselContainer{
    margin: 1rem 0.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.carrouselItem{
    background: var(--primary);
    border-radius: 6px;
    height: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 46%;
    margin-bottom: 2rem;
}

.thumbnail{
    margin-top: 0.5rem;
    height: 4rem;
    width: min-content;
    padding: 0.5rem;
}
.thumbnail > img{
    height: 100%;
    width: auto;
}