.menuItem{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.title{
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.price{
    color: var(--secondary);
    font-size: 1.2rem;
}