.header{
    height: 50px;
    width: 100%;
}

.searchContainer{
    width: 100%;
    padding: 0 10%;
}

.searchContainer > *{
    width: 100%;
}

.foodTypeContainer{
    width: 100%;
    padding: 0 5%;
    background: #242423;
}