.inputField{
    height: 2.5rem;
    outline: none;
    border: none;
    background: transparent;
}

.inputFieldContainer{
    height: 2.5rem;
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: start;
}

svg{
    margin: 0 0.5rem;
}

.rounded{
    border-radius: 30px;
    padding: 0 0.5rem;
}

.primary{
    background: var(--primary);
}

.secondary{
    background: var(--secondary);
}

.yellow{
    background: var(--yellow);
}

.dark{
    background: var(--dark);
    color: var(--fontColorLight);
}

.inputFieldContainer:has(.inputField:focus){
    border-bottom: 2px solid var(--fontColor);
}

.inputFieldContainer:has(.darkInput .roundedInput:focus){
    border: 2px solid var(--fontColorLight);
}

.inputFieldContainer:has(.roundedInput:focus){
    border: 2px solid var(--fontColor);
}

.inputFieldContainer:has(.darkInput:focus){
    border: var(--fontColorLight) 2px solid;
}


.darkInput{}

.roundedInput{}